/*================ GLOBAL COLORS ================*/
:root {
	--accent-color: 68,71,90;
	--secondary-accent-color: 255,255,255;
	--light-color: 98,114,164;
	--dark-color: 40,42,54;
	--cyan: 139,233,255;
	--pink: 255,121,198;
	--grey: 155,155,155;
	--green: 77,199,110;
	--orange: 255,184,108;
	--yellow: 230,216,11;
	--red: 255,85,85;
	--purple: 189,147,249;
    --white:248,248,242;
}

/*================ LIGHT THEME ================*/
:root {
	--main-bgcolor: var(--dark-color);
	--transparent-bgcolor: var(--dark-color);
}

/*================ DARK THEME ================*/
:root:-moz-lwtheme-brighttext,

.sidebar-panel[lwt-sidebar-brighttext],
body[lwt-sidebar-brighttext] {
	--main-bgcolor: var(--dark-color);
	--transparent-bgcolor: var(--dark-color);
}




/*================== MAIN HEADER ==================*/
toolbox#navigator-toolbox  {
	border: 0 !important;
}

/*================== TABS BAR ==================*/
#titlebar #TabsToolbar {
	-moz-appearance: none !important;
	padding: 6px 0px 2px 6px !important;
	background: rgba(var(--dark-color), 1) !important;
}
.titlebar-spacer[type="pre-tabs"] {
	/* border: 0 !important; */
	display: none;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after, #tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before, .tabbrowser-tab[visuallyselected]::after {
    opacity: 0 !important;
}
.tab-line {
    height: 0px !important;
}

.tabbrowser-tab {
    margin-right: 5px !important;
}
.tabbrowser-tab:not([visuallyselected="true"]), .tabbrowser-tab:-moz-lwtheme {
    color: rgba(var(--main-bgcolor), 1) !important;
}

tab[selected="true"] .tab-content {
	color: rgba(var(--dark-color), 1) !important;
}
tab[selected="true"] .tab-background {
	background: rgba(var(--purple), 1) !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: 0 !important;
    opacity: 0 !important;
}

.tab-close-button {
	transition: all 0.3s ease !important;
    border-radius: 30px !important;
}
.tab-close-button:hover {
    fill-opacity: 0.2 !important;
}

.tabbrowser-tab > .tab-stack > .tab-background {
	border-radius: 50px !important;
}
.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]) {
	transition: all 0.3s ease !important;
	background-color: rgba(var(--purple), 0.4) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
    background-color: rgba(var(--purple), 0.9) !important;
}


/*================== BOOKMARKS TOOLBAR ==================*/
#PersonalToolbar {
	background: rgba(var(--accent-color), 1) !important;
	color: rgba(var(--grey), 1) !important;
	padding-bottom: 6px !important;
	padding-top: 1px !important;
}
toolbarbutton.bookmark-item {
	transition: all 0.3s ease !important;
    padding: 3px 5px !important;
	border-radius: 20px !important;
}
toolbarbutton.bookmark-item .toolbarbutton-icon {
	fill: rgba(var(--main-bgcolor), 1) !important;
}
#PlacesToolbar toolbarseparator {
	-moz-appearance: none !important;
	width: 1px;
	margin: 0 8px !important;
	background-color: rgba(var(--main-bgcolor), 1) !important;
}

/*================== NEW TAB BUTTON ==================*/
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar #tabs-newtab-button:not([disabled="true"]):-moz-any([open], [checked], :active) > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
	fill: rgba(var(--yellow), 1) !important;
	border-radius: 30px !important;
	background-color: rgba(var(--dark-color), 0.5) !important;
}
toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon {
	background-color: rgba(var(--yellow), 0.3) !important;
}


/*================== NAV BAR ==================*/
toolbar#nav-bar {
	background: rgba(var(--dark-color), 1) !important;
	box-shadow: none !important;
	padding-bottom: 4px !important;
}
toolbar#nav-bar toolbarbutton .toolbarbutton-icon,
toolbar#nav-bar toolbarbutton #fxa-avatar-image {
	transition: all 0.3s ease !important;
	fill: rgba(var(--grey), 1) !important;
}
#urlbar > #urlbar-background {
	border-radius: 10px !important;
	border: 1 !important;
	background-color: rgba(var(--dark-color), 1) !important;
}

#urlbar-background, .urlbarView-body-inner {
	border-color: var(--purple) !important;
}

#urlbar:not([focused="true"]) > #urlbar-background,
#urlbar > #urlbar-input-container {
	border-radius: 20px !important;
	color: rgba(var(--white), 1) !important;
}
#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover, .tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover, .tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover, .findbar-button:not(:-moz-any([checked="true"], [disabled="true"])):hover, toolbarbutton.bookmark-item:not(.subviewbutton):hover:not([disabled="true"]):not([open]), toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-icon, toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-text, toolbar .toolbarbutton-1:not([disabled="true"]):not([checked]):not([open]):not(:active):hover > .toolbarbutton-badge-stack {
	background-color: rgba(var(--transparent-bgcolor), 0.2) !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active), .findbar-button:not([disabled="true"]):-moz-any([checked="true"], :hover:active), toolbarbutton.bookmark-item:not(.subviewbutton):hover:active:not([disabled="true"]), toolbarbutton.bookmark-item[open="true"], toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-icon, toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-text, toolbar .toolbarbutton-1:not([disabled="true"]):-moz-any([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
	background-color: rgba(var(--transparent-bgcolor), 0.2) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
	background-color: transparent !important;
}

#urlbar {
	color: rgba(var(--purple), 1) !important;
}
.urlbarView-url {
    color: rgba(var(--dark-color), 1) !important;
}


/*================== SIDEBAR ==================*/
#sidebar-box,
.sidebar-panel[lwt-sidebar-brighttext] {
	background-color: rgba(var(--main-bgcolor), 1) !important;
}

#sidebar-header {
	border-color: rgba(var(--pink), 0.3) !important;
}
.sidebar-splitter {
	border-color: rgba(var(--pink), 1) !important;
}
#sidebar-switcher-target:hover,
#sidebar-switcher-target:hover:active, #sidebar-switcher-target.active,
#viewButton:hover,
#viewButton[open] {
	background-color: rgba(var(--accent-color), 0.3) !important;
}
.sidebar-placesTreechildren {
	color: rgba(var(--pink), 1) !important;
}
#search-box,
.search-box {
	background-color: rgba(var(--purple), 0.7) !important;
	border-radius: 3px !important;
	color: rgba(var(--pink), 1) !important;
}
.content-container {
	background-color: rgba(var(--pink), 1) !important;
	color: rgba(var(--pink), 1) !important;
}

#viewButton {
	color: rgba(var(--pink), 1) !important;
}

#sidebar-box:not([lwt-sidebar]),.sidebar-panel:not([lwt-sidebar-brighttext]),body:not([lwt-sidebar-brighttext]) .content-container {
	background-color: rgba(var(--light-color), 1) !important;
	color: rgba(var(--pink), 1) !important;
}
